<div>
  <div class="container">
    <h3 class="label" for="vehicle">Select a vehicle:</h3>
    <div class="list-group" id="vehicle" name="vehicleId">
      {{#each vehicles}}
        <button type="button" class="list-group-item">
          {{year}} {{make}} {{model}}
        </button>
      {{#each vehicles}}
    </div>
  </div>
</div>
